h2#bioheader {
	text-align: center;
}

.twittericon {
	margin-bottom: 20px;
}

#albumcover {
    width: 70%;
    height: 70%;
    
}

#cagelogo {
	width: 20%;
	height: 30%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

h1 {
	font-size: 2em;
}

#region-page-one h1 {
  position: absolute;
  color: #EBC689;
  left: 50%;
  max-width: 40%;
  bottom: 105px;
  z-index: 5;
}

#videos {
	margin-top: 7%;
}

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	h1 {
		font-size: 2em;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	h1 {
		font-size: 2em;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	h1 {
		font-size: 2em;
	}

	.videos {
	width: 100%;
}

.page-title .page-title-content {
  display: block;
  float: left;
  background-color: #ffffff;
  color: black;
  margin: 5% 0 5% 0;
}


}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	p {
		margin: 0 0 20% 0;
	}
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 2em;
		padding-bottom: 5%;
	}

	#region-page-one h1 {
  color: #EBC689;
  left: 20%;
  max-width: 100%;
  bottom: 105px;
  margin-left: 25%;
  padding: 5% 0 5% 0;
  z-index: 5;
}


	#cagelogo {
		margin: 10% 0 10% 20%;
	}

	#albumcover {
		margin: 0 0 5% 15%;
	}

	#tracklistheader {
		margin-left: 20%;
	}

.page-title .page-title-content {
  display: block;
  float: left;
  background-color: #ffffff;
  color: black;
  margin: 5% 0 5% 0;
}

.videos {
	width: 100%;
	margin: 10% 0 0 0;
}
}
